/* Configuração global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif; /* Fonte Poppins */
    overflow-x: hidden; /* Evitar que o conteúdo saia da tela */
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espaço entre logo e navbar */
    background-color: #007bff; /* Cor de fundo da navbar */
    padding: 20px;
    position: fixed; /* Fixa o cabeçalho no topo */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Garante que o header fique por cima do conteúdo */
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.bike {
    color: #082f5a; /* Cor azul para "BIKE" */
}

.navbar {
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
}

nav a:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}

/* Video de fundo */
.content {
    position: relative;
    width: 100%;
    height: calc(100vh - 80px); /* Altura do vídeo ajustada, considerando o header fixo */
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1; /* Transparência do vídeo (70%) */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Escurece o vídeo, se necessário */
}

/* Footer */
footer {
    background-color: #007bff; /* Cor de fundo do footer */
    color: white;
    padding: 30px 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 15vh; /* Altura do footer (15% da altura da página) */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-icons {
    display: flex;
    gap: 20px;
}

.social-icon img {
    width: 30px;
    height: 30px;
}

.footer-links {
    margin-top: 10px;
    display: flex;
    gap: 20px;
    font-size: 16px;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}
